@charset "ISO-8859-1";

html, 

. {
	font-family: "Raleway", sans-serif;
	font-size: 15px;
	line-height: 1.5;
}

body {
	font-family: "Raleway", sans-serif;
	font-size: 15px;
	line-height: 1.5;
}

hr {
	font-family: "Raleway", sans-serif;
	border: 0;
	border-top: 1px solid white;
	margin: 20px 0;
}

.header {
	font-family: "Raleway", sans-serif;
	padding: 20px;
	background: #f1f1f1;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0
		rgba(0, 0, 0, 0.12);
}

.box {
	display: inline-block;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0
		rgba(0, 0, 0, 0.12);
}